extends layout

block content
  h1 使用方法(#{cat})
  p 将下面代码复制到html代码中即可
  pre.
    &lt;script src="http://api.movom.cc/hitokoto/#{target}"&gt;&lt;/script&gt;
    &lt;div&gt;&lt;script&gt;hitokoto()&lt;/script&gt;&lt;/div&gt; 
    
    